{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="{% static './css/dashboard.css' %}" />
  <script src="https://kit.fontawesome.com/883ba9c28f.js" crossorigin="anonymous"></script>
  <script src="{% static './js/mood.js' %}"></script>
  <script src="{% static './js/menu.js' %}"></script>
  <title>Blakdhut Exchange</title>
</head>
<body>
<header class="navbar">
  <a href="{% url 'user:dashboard' %}" class="logo">
    <img src="{% static './logo.png' %}" alt="Blakdhut Logo" />
  </a>
  <button class="menu-toggle" id="menuToggle">&#9776;</button>

  <div class="overlay" id="menu">
    <button class="close-btn" id="closeMenu">&times;</button>
    <nav class="overlay-menu">
      <a href="{% url 'user:dashboard' %}">Dashboard</a>
      <a href="./kyc.html">KYC</a>
      <a href="./referral.html">Referral</a>
      <a href="{% url 'user:history' %}">History</a>
      <a href="./support.html">Support</a>
      <button id="theme-toggle" class="menu-toggle"><i class="fa-solid fa-moon fa-2xs"></i></button>
    </nav>
  </div>
</header>
<body>
  <main class="content">
    <h2>{{ user.username }}</h2>
    <span>You need to verify your account</span>
    <br>
    <div class="actions">
      <div class="acto">
        <div class="buton">
          <a href="kyc.html">Get Verfied</a>
        </div>
        <div class="buton">
          <a href="{% url 'user:update' %}">Edit Profile</a>
        </div>
      </div>
    </div>
    <div class="statistics">
      <div class="boxes">
        <div class="box">
          <span>Total Volume</span>
          <h2>₦0</h2>
        </div>
        <div class="box">
          <span>Favourite Coin </span>
          <h2>BTC</h2>
        </div>
      </div>
    </div>
    <div class="forget">
      <div class="options">
      </label>
      <a href="forgot.html">Forgot password?</a>
      </div>
    </div>
  </main>
</body>
</html>
